.light {
   --color-primary: white;
   --color-secondary: #111;
   --color-accent: #d9c078;
   --font-color: #000000;
}
.dark {
   --color-primary: #111;
   --color-secondary: white;
   --color-accent: #d9c078;
   --font-color: #ffffff;
}
.nav {
    position: relative;
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-accent);
}
ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    padding: 10px 10px;
}
.nav-links {
    flex-direction: row;
    gap: 1rem;
}
.navlink, .title {
    color: var(--color-secondary);
    text-align: center;
    padding-left: 14px 16px;
    text-decoration: none;
}
.navlinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.navlink:hover, .title:hover {
    color: var(--color-accent);
}
.title {
    font-size: 24px;
    font-weight: bold;
}
.menu-button {
    background-color: var(--color-primary);
    border: none;
    width: 100%;
    height: 40px;
    color: var(--color-secondary);
    padding: 14px 14px;
    text-decoration: none;
    font-size: 16px;
}
.theme-toggle {
    position: absolute;
    right: 0px;
    top: 0px;
}
.menu-toggle {
    position: absolute;
    display: none;
    right: 60px;
    top: 0px;
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 992px) {
  .navlinks {
    margin-top: 10px;
    flex-direction: column;
  }
  ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .title-container.open {
    width: 100%;
    border-bottom: var(--color-accent) 1px solid;
  }
  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}